.container
  %h1 ライブ・イベント 一覧
  %table#events.table.table-striped
    - dataset.each do |event|
      %tr
        %td.span2.eventdate<
          = event.startdate.strftime("%Y年%m月%d日")
          - if event.enddate
            %br
            = "〜" + event.enddate.strftime("%Y年%m月%d日")
        %td= event.name
        %td.span2
          %a.btn.disabled{:rel => "tooltip", :title => "coming soon"} 参戦した！
  != haml :"common/pagination", :locals => locals
%script
  $(function () { $('a.btn').tooltip() });
