.container
  %h1 about
  %p 僕がももいろクローバーZと出会ったのは、2011年の5月26日。同僚に勧められて覩始めたのがきっかけでした。
  %p そこから少しずつ興味を持ち始め、Ustreamのアーカイブを観て、Youtubeを漁り、ライブDVDを買い、
  %p 気付くとどっぷりとハマってしまっていました。
  %p 初めて参戦したライブはファンタスティックツアー2011の東京ファイナル1部。
  %p ものすごい衝撃を受けたのを今でも思い出します。
  %p
    %a{:href => "http://d.hatena.ne.jp/sugyan/20110808/1312732845", :target => "_blank"} ももいろクローバーZにハマっている件について - すぎゃーんメモ
  %br
  %br
  %p それからもちょくちょく現場に通い、Twitterで情報交換をし、1年弱の間でも沢山の思い出が生まれ、そして多くのモノノフ仲間が出来ました。
  %p それぞれのモノノフさんたちにはそれぞれの「ももクロとの出会い」や「ライブでの思い出」などの歴史があって、物語がある。
  %p それらを聞くだけでも面白いのだけど、
  %p インターネット上のコンテンツとしては残りにくく、Twitterなどでは時間とともにそれらも流れていってしまう。
  %p なので、そういったそれぞれの思い出の物語を蓄積して共有できるようにするためのWebサービスを作りたい、
  %p そう思ってこのWebサービスを作りました。
  %br
  %br
  %p ここをきっかけに、
  %p - ハマり始めた頃の熱い気持ちを思い出したり
  %p - 同時期にハマった仲間を見つけたり
  %p してもらえると嬉しいです。
