!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
    %title momoclo timeline
    %link{:rel => "stylesheet/less", :href => "/lib/bootstrap/less/bootstrap.less"}
    %script{:type => "text/javascript", :src => "http://platform.twitter.com/anywhere.js?id=#{ ENV['TWITTER_CONSUMER_KEY'] }&v=1"}
    %script{:type => "text/javascript", :src => "/lib/less/less-1.3.0.min.js"}
    %script{:type => "text/javascript", :src => "/lib/jquery/jquery-1.7.2.min.js"}
    %script{:type => "text/javascript", :src => "/lib/bootstrap/js/bootstrap-dropdown.js"}
    %script{:type => "text/javascript", :src => "/lib/bootstrap/js/bootstrap-collapse.js"}
    %script{:type => "text/javascript", :src => "/js/main.js"}
    - (locals[:jss] || []).each do |js|
      %script{:type => "text/javascript", :src => js}
    - (locals[:csss] || []).each do |css|
      %link{:rel => "stylesheet", :type => "text/css", :href => css}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"} ももクロ的な何か
          %ul.nav
            %li
              %a{:href => "/episode/new"} 新規投稿
          %ul.nav.pull-right
            %li
              %a{:href => "/about"} about
            - if session[:user]
              %li.dropdown
                %a.dropdown-toggle{:"data-toggle" => "dropdown"}
                  %img{:src => session[:user].image}
                  = session[:user].screen_name
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "/logout"} ログアウト
            - else
              %li
                %a{:href => "/auth/twitter"} Twitterでログイン
    != yield
    .container
      %footer
        .pull-right
          %span created by @sugyan
