- locals[:jss]  = ['/lib/jqueryui/jquery-ui-1.8.20.custom.min.js', '/lib/timeglider/timeglider.min.js', '/js/timeglider.js']
- locals[:csss] = ['/lib/jqueryui/jquery-ui-1.8.20.custom.css', '/lib/timeglider/Timeglider.css']
%div#timeline{:style => 'height:500px;'}
